*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
#blah{
    width: 180px;
    overflow: hidden;
    border-radius: 25px;
    border:2px solid orange;
    box-shadow: 2px 2px 8px rgba(0,0,0,.6);
}
h1{
    text-align: center;
}
form{
    max-width: 600px;
    margin:auto;
}
form div{
    margin-bottom: 20px;
}
label{
    display: block;
    font-weight: bold;
}
input{
    padding:10px;
    width: 100%;
}
button{
    margin-top:10px;
    padding:10px;
    background: grey;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    border:none;
    transition:.3s;
}
button:hover{
    background: green;
    padding: 10px 15px;
}